<div class="pb-0 pb-sm-2">
    <h1 class="title title--h1 first-title title__separate">
      Sobre mi
    </h1>
    <p>
        Soy desarrollador FullStack de Ayacucho, Perú, y trabajo en desarrollo web, escritorio y mobiles. Disfruto convirtiendo problemas complejos en soluciones simples, precisos e intuitivos.
    </p>
    <p>
        Mi trabajo es construir su aplicacion para que sea funcional y fácil de usar pero al mismo tiempo atractivo. Además, añado un toque personal a su producto y me aseguro de que sea llamativo y fácil de usar. Mi objetivo es transmitir su mensaje e identidad de la manera más creativa. He trabajado en varias empresas tocando datos sencibles y con propiedad intelectual, por ende no los publicaré.
    </p>
    
  </div>

  <!-- What -->
  <div class="box-inner pb-0">
    <h2 class="title title--h3">Que me dedico</h2>
    <div class="row">
      <!-- Case Item -->
      <div class="col-12 col-lg-6">
        <div class="case-item box box__second">
          <img
            class="case-item__icon"
            src="assets/icons/icon-design.svg"
            alt=""
          />
          <div>
            <h3 class="title title--h5">Desarrollo Web (Front - end)</h3>
            <p class="case-item__caption">
              Maqueto e integro el back - end al front - end, independientemente si son wireframe o plantillas de terceros.
            </p>
          </div>
        </div>
      </div>

      <!-- Case Item -->
      <div class="col-12 col-lg-6">
        <div class="case-item box box__second">
          <img
            class="case-item__icon"
            src="assets/icons/icon-dev.svg"
            alt=""
          />
          <div>
            <h3 class="title title--h5">Back - End</h3>
            <p class="case-item__caption">
              Desde analisis y diseño del sistema, integrando la Base de Datos ya elaborados o con migraciones.
            </p>
          </div>
        </div>
      </div>

      <!-- Case Item -->
      <div class="col-12 col-lg-6">
        <div class="case-item box box__second">
          <img
            class="case-item__icon"
            src="assets/icons/icon-app.svg"
            alt=""
          />
          <div>
            <h3 class="title title--h5">Mobile Apps</h3>
            <p class="case-item__caption">
              Maquetacion y despliegue de aplicaciones móbiles en sus respectivas tiendas.
            </p>
          </div>
        </div>
      </div>

      <!-- Case Item -->
      <div class="col-12 col-lg-6">
        <div class="case-item box box__second">
          <img
            class="case-item__icon"
            src="assets/icons/icon-photo.svg"
            alt=""
          />
          <div>
            <h3 class="title title--h5">Servidores (Dev ops)</h3>
            <p class="case-item__caption">
              El sistema corre en donde ha estado planeado desplegarlo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>